vendor
.idea
.vscode
demo/cache
.phpunit.result.cache
.DS_store
.phpunit.cache
.coveralls.yml export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore

# Packages should not include a lockfile
composer.lock