
parameters:
  level: max
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '%Call to an undefined method Illuminate\\\Cache\\\CacheManager::remember\(\).%'